@import url(reset.css);

/* ---------------- */
@media screen and (max-width: 769px) {
  .sm_hidden {
    display: none;
  }

  .header_content {
    display: flex;
    width: 768px;
    justify-content: space-between;
    gap: 400px;
  }
  .logo_svg {
    margin-left: 40px;
  }

  .bottom_png {
    width: 170px;
    height: 65px;
  }

  .bottom {
    width: 170px;
    height: 65px;
    margin-top: 8px;
    padding-right: 0px;
  }
}

.hero1box {
  width: 1920px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
@media screen and (max-width: 769px) {
  .hero1box {
    width: 768px;
    gap: 90px;
  }
  .left_content {
    width: 770px;
    height: 221px;
    background-image: url(images/hero01_bg01_sm.png);

    z-index: 1;
  }

  .hero1logo {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 200px;
    height: 130px;
  }

  .h1 {
    position: absolute;
    width: 450px;
    height: 50px;
    top: 200px;
    left: 400px;
  }

  .wrap {
    position: absolute;
    display: flex;

    width: 350px;
    top: 70px;
    left: 45px;
    padding-right: -20px;
    gap: 20px;
  }

  .wrap p {
    font-size: 12px;
  }

  .text {
    width: 290px;
    height: 62px;
    position: absolute;
    top: 260px;
    left: 260px;
    font-size: 10px;
    font-weight: 700;
  }

  .text p {
    font-size: 10px;
  }

  .botton1 {
    width: 189px;
    height: 44px;
  }

  .right_content {
    width: 770px;
    height: 310px;
  }

  .hero01_2 {
    width: 800px;
    height: 400px;
  }
}

.synpmathy {
  margin-top: 10px;
  width: 780px;
  height: 900px;
}

.synpmathy_bg {
  width: 800px;
  height: 1200px;
  background-color: #f1f7f8;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.sy_content {
  margin-left: 120px;
  padding-bottom: 0px;
}

.sy_right {
  margin-left: 100px;

  margin-top: 150px;
}

.sol_head {
  margin-top: 60px;
}
.sol_head {
  width: 800px;
  height: 140px;
  background: linear-gradient(
    to bottom,
    #ffff 0%,
    #ffff 50%,
    #f1f7f8 50%,
    #f1f7f8 100%
  );
  background-color: red;
  text-align: center;
  padding-bottom: 0%;
}
.main1 {
  width: 800px;
  height: 893px;
  background-color: #f1f7f8;
  margin-bottom: 600px;
}

.main1 h2 {
  font-size: 20px;
}

.main_content {
  width: 800px;
  height: 800px;
  display: flex;
  flex-flow: column;
  margin-left: 150px;

  justify-content: center;
}

.sol1_left {
  display: none;
}

.sol1_leftimg {
  margin-top: 0px;
  margin-bottom: -29px;
  width: 330px;
  height: 300px;

  background-image: url(images/solution1_main_img01_sm.png);
}

#so1_left_sm {
  width: 290px;
  height: 300px;
}

.sol1_right {
  width: 400px;
  height: 455px;
  margin-left: -40px;
  margin-top: 0px;
  /* background-color: #ffff; */
}

.sol1_right_read {
  font-size: 12px;
  margin-right: 150px;
  padding-left: -50px;
}

.sol1_arrow {
  width: 18px;
  height: 26px;
  margin-top: 10px;
  margin-left: 60px;
}
.sol1_body {
  width: 400px;
  height: 200px;
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-top: -40px;

  gap: 6px;
}

.tablet {
  width: 300px;
  height: 300px;
  color: #007979;
}

#sol1_bg {
  width: 240px;
  height: 80px;
  background-color: #f1f7f8;
  margin-left: 75px;
  margin-right: 75px;
  justify-content: space-between;
}

#sol1_body p {
  font-size: 12px;
  font-weight: 700;
  color: #007979;
  margin-top: 15px;
  margin-bottom: 30px;
}

.sol1_bg span {
  font-size: 24px;
  font-weight: 700;
  color: #384359;
}

.or {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 14px;
  color: #92cfcf;
}

.sol1txt {
  width: 242px;
  margin-top: px;
  margin-left: 10px;
}

.sol1_human {
  width: 320px;
  position: relative;
  top: -90px;
  left: 60px;
  display: flex;
  justify-content: space-between;
}

.human1 {
  width: 64px;
  height: 165px;
}

.human2 {
  width: 66px;
  height: 170px;
}
