.contents p.pc-image {
  text-align: center;
}
.contents p.sp-image {
  display: none;
  text-align: center;
}
.contents p.pc-words {
  margin-top: 1em;
  text-align: center;
  font-size: 2.5em;
}
.contents p.sp-words {
  display: none;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}

@media only screen and (max-width: 640px) {
  #contents p.pc-image,
  #contents p.pc-words {
    display: none;
  }
  #contents p.sp-image,
  #contents p.sp-words {
    display: block;
  }
}
